<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PdfxFools - Tools for fools</title>
  <link href="{{url_for('static', filename='output.css')}}" rel="stylesheet">

</head>

<body>
  <nav class="h-12 w-full p-2 bg-orange-300 flex justify-between font-medium font-serif sticky top-0">
    <span class="text-2xl font-bold text-white">PdfxFools</span>
    <div class="space-x-2 w-auto flex items-center">
      <img class="relative burger cursor-pointer" src="{{url_for('static', filename='icons/HAm.svg')}}">
      <div
        class="ham w-44 h-[95vh] p-3 bg-amber-50 outline-1 z-10 absolute right-0 top-12 text-black hidden transition-all duration-1000 ease-in-out flex flex-col space-y-4">
        <div>
          <span class="text-center underline text-[16px] font-bold">Popular Tools</span>
          <ul class="text-black text-[14px] font-normal text-start">
            <li class="quick-tool cursor-pointer hover:underline flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path fill="#ffb86a"
                  d="M200 288H88c-21.4 0-32.1 25.8-17 41l32.9 31l-99.2 99.3c-6.2 6.2-6.2 16.4 0 22.6l25.4 25.4c6.2 6.2 16.4 6.2 22.6 0L152 408l31.1 33c15.1 15.1 40.9 4.4 40.9-17V312c0-13.3-10.7-24-24-24m112-64h112c21.4 0 32.1-25.9 17-41l-33-31l99.3-99.3c6.2-6.2 6.2-16.4 0-22.6L481.9 4.7c-6.2-6.2-16.4-6.2-22.6 0L360 104l-31.1-33C313.8 55.9 288 66.6 288 88v112c0 13.3 10.7 24 24 24m96 136l33-31.1c15.1-15.1 4.4-40.9-17-40.9H312c-13.3 0-24 10.7-24 24v112c0 21.4 25.9 32.1 41 17l31-32.9l99.3 99.3c6.2 6.2 16.4 6.2 22.6 0l25.4-25.4c6.2-6.2 6.2-16.4 0-22.6zM183 71.1L152 104L52.7 4.7c-6.2-6.2-16.4-6.2-22.6 0L4.7 30.1c-6.2 6.2-6.2 16.4 0 22.6L104 152l-33 31.1C55.9 198.2 66.6 224 88 224h112c13.3 0 24-10.7 24-24V88c0-21.3-25.9-32-41-16.9" />
              </svg>
              <span>Pdf Compresser</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"> <svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                <defs>
                  <mask id="ipSFileLock0">
                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                      <path fill="#fff" stroke="#fff"
                        d="M10 44h28a2 2 0 0 0 2-2V14H30V4H10a2 2 0 0 0-2 2v36a2 2 0 0 0 2 2" />
                      <path stroke="#fff" d="m30 4l10 10" />
                      <path fill="#000" stroke="#000" d="M17 27h14v8H17z" />
                      <path stroke="#000" d="M28 27v-4c0-1.657-1-4-4-4s-4 2.343-4 4v4" />
                    </g>
                  </mask>
                </defs>
                <path fill="#ffb86a" d="M0 0h48v48H0z" mask="url(#ipSFileLock0)" />
              </svg><span>Pdf Encryptor</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                <g fill="none" stroke="#ffb86a" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                  <rect width="38" height="38" x="5" y="5" rx="3" />
                  <path d="M19 19c2 3 2 7 0 10m17-15L21 24l15 10" />
                  <circle cx="16" cy="16" r="4" />
                  <circle cx="16" cy="32" r="4" />
                </g>
              </svg>
              <span>Pdf Splitter</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                <path fill="#ffb86a"
                  d="M27.425 6.09h-1.52V4.57h-1.52V3.04h-1.53V1.52h-1.52V0H3.045v32h25.91V7.62h-1.53Zm0 24.38H4.575V1.52h15.23v7.62h7.62Z" />
                <path fill="#ffb86a"
                  d="M19.805 19.81v-1.53h-1.52v1.53h-9.14v-1.53h-1.53V7.62h-1.52v16.76h1.52v-3.05h16.77v3.05h1.52V10.66h-1.52v7.62h-1.53v1.53z" />
                <path fill="#ffb86a"
                  d="M7.615 24.38h16.77v1.52H7.615Zm13.72-7.62h1.52v1.52h-1.52Zm-3.05-1.52h3.05v1.52h-3.05Zm-1.52 1.52h1.52v1.52h-1.52Zm-1.53-1.52h1.53v1.52h-1.53Zm-3.04-1.53h3.04v1.53h-3.04Zm-1.53 1.53h1.53v1.52h-1.53Zm-1.52 1.52h1.52v1.52h-1.52Zm0-7.62h3.05v3.05h-3.05Zm-1.53-3.05h9.15v1.53h-9.15Z" />
              </svg><span>Images to Pdf</span></li>
          </ul>
        </div>

        <div>
          <span class="text-center underline text-[16px] font-bold">Image operations</span>
          <ul class="text-black text-[14px] font-normal text-start">
            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                <path fill="#ffb86a"
                  d="M27.425 6.09h-1.52V4.57h-1.52V3.04h-1.53V1.52h-1.52V0H3.045v32h25.91V7.62h-1.53Zm0 24.38H4.575V1.52h15.23v7.62h7.62Z" />
                <path fill="#ffb86a"
                  d="M19.805 19.81v-1.53h-1.52v1.53h-9.14v-1.53h-1.53V7.62h-1.52v16.76h1.52v-3.05h16.77v3.05h1.52V10.66h-1.52v7.62h-1.53v1.53z" />
                <path fill="#ffb86a"
                  d="M7.615 24.38h16.77v1.52H7.615Zm13.72-7.62h1.52v1.52h-1.52Zm-3.05-1.52h3.05v1.52h-3.05Zm-1.52 1.52h1.52v1.52h-1.52Zm-1.53-1.52h1.53v1.52h-1.53Zm-3.04-1.53h3.04v1.53h-3.04Zm-1.53 1.53h1.53v1.52h-1.53Zm-1.52 1.52h1.52v1.52h-1.52Zm0-7.62h3.05v3.05h-3.05Zm-1.53-3.05h9.15v1.53h-9.15Z" />
              </svg>
              <span>Images to Pdf</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 26 26">
                <path fill="#ffb86a"
                  d="M1 0C.449 0 0 .449 0 1v16c0 .551.449 1 1 1h16c.551 0 1-.449 1-1V1c0-.551-.449-1-1-1zm1 2h14v12H2zm17 .906v2.031l1.813.313L19 15.75V17c0 1.104-.897 2-2 2H6.406l12.688 2.188a1 1 0 0 0 1.156-.813l2.688-15.781a1 1 0 0 0-.813-1.157zM9 3.937c-1.151 0-2.125.792-2.125 2.282c0 .974.434 1.952 1.031 2.562c.234.61-.164.842-.25.875c-1.206.436-2.625 1.245-2.625 2.031v1.282h7.938v-1.281c0-.81-1.422-1.614-2.688-2.032c-.058-.019-.417-.18-.187-.875c.595-.61 1.062-1.593 1.062-2.562c0-1.49-1.005-2.282-2.156-2.282m14.406 3.97l-.343 1.968l.718.156l-2.75 11.688l-.406-.094a1.95 1.95 0 0 1-1.719.531L5.063 19.781L4.78 20.97a1.023 1.023 0 0 0 .75 1.218l15.563 3.657a1.023 1.023 0 0 0 1.218-.75L25.938 9.53c.127-.536-.18-1.091-.718-1.219l-1.813-.406z" />
              </svg>
              <span>Pdf to PNG</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 26 26">
                <path fill="#ffb86a"
                  d="M1 0C.449 0 0 .449 0 1v16c0 .551.449 1 1 1h16c.551 0 1-.449 1-1V1c0-.551-.449-1-1-1zm1 2h14v12H2zm17 .906v2.031l1.813.313L19 15.75V17c0 1.104-.897 2-2 2H6.406l12.688 2.188a1 1 0 0 0 1.156-.813l2.688-15.781a1 1 0 0 0-.813-1.157zM9 3.937c-1.151 0-2.125.792-2.125 2.282c0 .974.434 1.952 1.031 2.562c.234.61-.164.842-.25.875c-1.206.436-2.625 1.245-2.625 2.031v1.282h7.938v-1.281c0-.81-1.422-1.614-2.688-2.032c-.058-.019-.417-.18-.187-.875c.595-.61 1.062-1.593 1.062-2.562c0-1.49-1.005-2.282-2.156-2.282m14.406 3.97l-.343 1.968l.718.156l-2.75 11.688l-.406-.094a1.95 1.95 0 0 1-1.719.531L5.063 19.781L4.78 20.97a1.023 1.023 0 0 0 .75 1.218l15.563 3.657a1.023 1.023 0 0 0 1.218-.75L25.938 9.53c.127-.536-.18-1.091-.718-1.219l-1.813-.406z" />
              </svg>
              <span>Pdf to JPG</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 26 26">
                <path fill="#ffb86a"
                  d="M1 0C.449 0 0 .449 0 1v16c0 .551.449 1 1 1h16c.551 0 1-.449 1-1V1c0-.551-.449-1-1-1zm1 2h14v12H2zm17 .906v2.031l1.813.313L19 15.75V17c0 1.104-.897 2-2 2H6.406l12.688 2.188a1 1 0 0 0 1.156-.813l2.688-15.781a1 1 0 0 0-.813-1.157zM9 3.937c-1.151 0-2.125.792-2.125 2.282c0 .974.434 1.952 1.031 2.562c.234.61-.164.842-.25.875c-1.206.436-2.625 1.245-2.625 2.031v1.282h7.938v-1.281c0-.81-1.422-1.614-2.688-2.032c-.058-.019-.417-.18-.187-.875c.595-.61 1.062-1.593 1.062-2.562c0-1.49-1.005-2.282-2.156-2.282m14.406 3.97l-.343 1.968l.718.156l-2.75 11.688l-.406-.094a1.95 1.95 0 0 1-1.719.531L5.063 19.781L4.78 20.97a1.023 1.023 0 0 0 .75 1.218l15.563 3.657a1.023 1.023 0 0 0 1.218-.75L25.938 9.53c.127-.536-.18-1.091-.718-1.219l-1.813-.406z" />
              </svg>
              <span>Pdf to TIFF</span>
            </li>
          </ul>
        </div>

        <div>
          <span class="text-center underline text-[16px] font-bold">Pdf Organizer</span>
          <ul class="text-black text-[14px] font-normal text-start">
            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="#ffb86a"
                  d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m0 14H8V4h12zm-7-1h2v-4h4V9h-4V5h-2v4H9v2h4z" />
              </svg>
              <span>Pdf Merger</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                <g fill="none" stroke="#ffb86a" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                  <rect width="38" height="38" x="5" y="5" rx="3" />
                  <path d="M19 19c2 3 2 7 0 10m17-15L21 24l15 10" />
                  <circle cx="16" cy="16" r="4" />
                  <circle cx="16" cy="32" r="4" />
                </g>
              </svg>
              <span>Pdf Splitter</span>
            </li>
          </ul>
        </div>

        <div>
          <span class="text-center underline text-[16px] font-bold">Pdf Security</span>
          <ul class="text-black text-[14px] font-normal text-start">
            <li class="quick-tool cursor-pointer hover:underline flex items-center"> <svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                <defs>
                  <mask id="ipSFileLock0">
                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                      <path fill="#fff" stroke="#fff"
                        d="M10 44h28a2 2 0 0 0 2-2V14H30V4H10a2 2 0 0 0-2 2v36a2 2 0 0 0 2 2" />
                      <path stroke="#fff" d="m30 4l10 10" />
                      <path fill="#000" stroke="#000" d="M17 27h14v8H17z" />
                      <path stroke="#000" d="M28 27v-4c0-1.657-1-4-4-4s-4 2.343-4 4v4" />
                    </g>
                  </mask>
                </defs>
                <path fill="#ffb86a" d="M0 0h48v48H0z" mask="url(#ipSFileLock0)" />
              </svg>
              <span>Pdf Encryptor</span>
            </li>
          </ul>
        </div>
        <div class="mb-2.5 absolute bottom-3.5">
          <div class="text-lg font-bold underline">PdfxFools</div>
          <p class="text-[12px]">Your one stop guide to all reliable Pdf tools</p>
          <ul class="links flex gap-1.5">
            <li class="text-[12px] hover:text-orange-400 active:text-red-500 cursor-pointer">Home</li>
            <li class="text-[12px] hover:text-orange-400 active:text-red-500 cursor-pointer">Tools</li>
            <li class="text-[12px] hover:text-orange-400 active:text-red-500 cursor-pointer">Contact</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="main container min-h-dvh bg-orange-100 flex flex-col justify-center items-center gap-5">
    <div id="about" class="container p-2 bg-orange-100 flex flex-col justify-center items-center gap-8">
      <div
        class="w-full md:w-1/3 h-64 p-5 flex flex-col justify-center items-center bg-orange-300 rounded-tl-full rounded-br-full gap-3.5">
        <p class="text-3xl text-center text-black font-bold">Smarter PDFs with PDFxFools</p>
        <p class="text-center">From merging to locking, we’ve got brainy tools that do the heavy lifting—so you
          don’t
          have to lift a finger. Clean, fast, and actually useful—no foolin’.</p>
        <button class="tools-btn p-1.5 bg-white text-lg text-black font-bold rounded-2xl cursor-pointer">Access
          Tools</button>
      </div>
      <div class="h-auto w-auto">
        <span class="text-2xl underline font-bold">Features</span>
        <div class="container h-auto px-2 pt-5 flex flex-wrap justify-center items-center gap-5">
          <div
            class="feature-card opacity-0 translate-x-10 w-42 md:w-1/3 h-80 p-3 flex flex-col items-center justify-center text-center bg-white outline-1 rounded-2xl space-y-2 transition-all duration-700 ">
            <img class="outline-1 rounded-2xl p-1" width="50"
              src="{{url_for('static', filename='icons/square-lock.svg')}}">
            <div class="text-2xl font-bold">Privacy Friendly</div>
            <span class="text-lg">No file tracking, no ads, no data collection — your documents stay yours.</span>
          </div>

          <div
            class="feature-card opacity-0 -translate-x-10 w-42 md:w-1/3 h-80 p-3 flex flex-col items-center justify-center text-center bg-white outline-1 rounded-2xl space-y-2 transition-all duration-700 ">
            <img class="outline-1 rounded-2xl p-1" width="50" src="{{url_for('static', filename='icons/Accfree.svg')}}">
            <div class="text-2xl font-bold">No Account Needed</div>
            <span class="text-lg">Use all features instantly with zero hassle, no login required.</span>
          </div>

          <div
            class="feature-card opacity-0 translate-x-10 w-42 md:w-1/3 h-80 p-3 flex flex-col items-center justify-center text-center bg-white outline-1 rounded-2xl space-y-2 transition-all duration-700 ">
            <img class="outline-1 rounded-2xl p-1" width="50"
              src="{{url_for('static', filename='icons/checkmark.svg')}}">
            <div class="text-2xl font-bold">No Watermarks</div>
            <span class="text-lg">Download clean, professional results, no annoying watermarks ever.</span>
          </div>

          <div
            class="feature-card opacity-0 -translate-x-10 w-42 md:w-1/3 h-80 p-3 flex flex-col items-center justify-center text-center bg-white outline-1 rounded-2xl space-y-2 transition-all duration-700 ">
            <img class="outline-1 rounded-2xl p-1" width="50" src="{{url_for('static', filename='icons/zap.svg')}}">
            <div class="text-2xl font-bold px-1">Blazing Fast</div>
            <span class="text-lg">Your files are processed in seconds — no waiting, no delays.</span>
          </div>


          <div
            class="feature-card opacity-0 translate-x-10 w-42 md:w-1/3 h-80 p-3 flex flex-col items-center justify-center text-center bg-white outline-1 rounded-2xl space-y-2 transition-all duration-700 ">
            <img class="outline-1 rounded-2xl p-1" width="50"
              src="{{url_for('static', filename='icons/smart-phone.svg')}}">
            <div class="text-2xl font-bold">Mobile Friendly</div>
            <span class="text-lg">Access and use all features seamlessly on any mobile device.</span>
          </div>

          <div
            class="feature-card opacity-0 -translate-x-10 w-42 md:w-1/3 h-80 p-3 flex flex-col items-center justify-center text-center bg-white outline-1 rounded-2xl space-y-2 transition-all duration-700 ">
            <img class="outline-1 rounded-2xl p-1" width="50" src="{{url_for('static', filename='icons/cloud.svg')}}">
            <div class="text-2xl font-bold px-1">Cloud based</div>
            <span class="text-lg">No installs needed—access tools anytime, anywhere, directly from the
              cloud.</span>
          </div>

        </div>
      </div>
      <div class="w-full md:w-2/6 h-42">
        <span class="text-2xl underline font-bold">What Our Users Say:</span>
        <div class="similiar h-auto w-full p-2 flex overflow-x-scroll space-x-3.5 scrollbar-hide" id="slider">
          <div class="bg-white p-4 rounded-xl shadow hover:shadow-lg transition min-w-full h-auto outline-1">
            <div class="flex items-center gap-2">
              <img src="https://i.pravatar.cc/50?img=1" alt="User 1" class="w-12 h-12 rounded-full">
              <div>
                <p class="font-medium">Aarav M.</p>
                <div class="text-yellow-400 text-2xl">★★★★★</div>
              </div>
            </div>
            <p class="text-sm text-black">
              Super clean and fast! Didn’t need to sign up, and my PDFs were done in seconds.
            </p>
          </div>
          <div class="bg-white p-4 rounded-xl shadow hover:shadow-lg transition min-w-full h-auto outline-1">
            <div class="flex items-center gap-2">
              <img src="https://i.pravatar.cc/50?img=2" alt="User 2" class="w-12 h-12 rounded-full">
              <div>
                <p class="font-medium">Nadia S.</p>
                <div class="text-yellow-400 text-2xl">★★★★★</div>
              </div>
            </div>
            <p class="text-sm text-black">
              Love how everything just works. No ads, no popups, just tools that do what they say.
            </p>
          </div>

          <!-- Review 3 -->
          <div class="bg-white p-4 rounded-xl shadow hover:shadow-lg transition min-w-full h-auto outline-1">
            <div class="flex items-center gap-2">
              <img src="https://i.pravatar.cc/50?img=3" alt="User 3" class="w-12 h-12 rounded-full">
              <div>
                <p class="font-medium">Jason R.</p>
                <div class="text-yellow-400 text-lg">★★★★☆</div>
              </div>
            </div>
            <p class="text-sm text-black">
              Merge tool saved my day! Would love a dark mode toggle but everything else is 🔥.
            </p>
          </div>

          <!-- Review 4 -->
          <div class="bg-white p-4 rounded-xl shadow hover:shadow-lg transition min-w-full h-auto outline-1">
            <div class="flex items-center gap-2">
              <img src="https://i.pravatar.cc/50?img=4" alt="User 4" class="w-12 h-12 rounded-full">
              <div>
                <p class="font-medium">Elena K.</p>
                <div class="text-yellow-400 text-2xl">★★★★★</div>
              </div>
            </div>
            <p class="text-sm text-black">
              One of the simplest and most useful PDF tools online. Bookmarking this forever.
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="FAQs container p-2 min-auto bg-orange-100 flex flex-col justify-center items-center gap-3">
      <div class="w-full md:w-1/3 h-auto p-1 text-[28px] underline text-center text-black font-bold">
        Frequently asked questions
      </div>

    </div>

    <div class="foot w-[99vw] p-2 h-auto bg-orange-200 space-y-2">
      <div>
        <span class="text-black text-lg font-bold underline">Consumer Policy</span>
        <div clas="consumer flex flex-col">
          <p class="text-black text-[12px] font-medium cursor-pointer hover:underline"><a>Terms &
              Conditions</a></p>
          <p class="text-black text-[12px] font-medium cursor-pointer hover:underline"><a>Privacy Policy</a>
          </p>
          <p class="text-black text-[12px] font-medium cursor-pointer hover:underline"><a>Contact</a></p>
        </div>
      </div>
      <hr>
      <div>
        <span class="text-black text-lg font-bold underline">Socials</span>
        <div class="socials w-auto h-auto flex gap-2 ">
          <img class=" cursor-pointer" src="{{url_for('static', filename='icons/facebook.svg')}}">
          <img class=" cursor-pointer" src="{{url_for('static', filename='icons/instagram.svg')}}">
          <img class=" cursor-pointer" src="{{url_for('static', filename='icons/linkedin.svg')}}">
        </div>
      </div>
      <hr>
      <span class="text-[14px]">@PdfxFools 2025 All Rights Reserved</span>
    </div>

  </div>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

  <script>

    const faqs = [
      {
        question: "Is PDFxFools really free to use?",
        answer: "Absolutely! No hidden fees, no signups, no gotchas. Just click, upload, and go. Foolishly simple."
      },
      {
        question: "Will my files be safe here?",
        answer: "Yes! We don’t snoop. Your files are encrypted, processed securely, and automatically deleted shortly after you're done."
      },
      {
        question: "Why should I trust a site called 'PDFxFools'?",
        answer: "Because we may be fools—but only for making awesome PDF tools free and easy to use. We take your PDFs seriously, even if our name says otherwise."
      },
      {
        question: "Are there any limits on file size or number of files?",
        answer: "We support most everyday files just fine. For huge files, your browser might tap out before we do. Try it and see—we dare you."
      },
      {
        question: "Do I need to install anything?",
        answer: "Nope. PDFxFools is fully cloud-based. No installs, no extensions—just magic in your browser."
      },
      {
        question: "Will there be watermarks on my files?",
        answer: "Never. We hate those too. Your output is clean, pro-grade, and totally yours."
      }
    ];


    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.remove('opacity-0');
          entry.target.classList.remove('-translate-x-10', 'translate-x-10');
        }
      });
    }, {
      threshold: 0.1
    });

    document.querySelectorAll('.feature-card').forEach(card => {
      observer.observe(card);
    });


    //Faq Questions 
    let faq = document.querySelector(".FAQs")
    for (let index = 0; index < faqs.length; index++) {
      const e = faqs[index];
      let div = document.createElement('div')
      div.className = 'w-full h-auto p-2 bg-white outline-1 rounded-2xl text-lg'
      div.innerHTML += ` 
                      <button class="faq-question w-full h-auto flex justify-between items-center ">
                          <span class="text-start"> ${e.question}</span>
                          <svg width="28" height="28" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 4V20" stroke="#141B34" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round" />
                              <path d="M4 12H20" stroke="#141B34" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round" />
  
                          </svg>
                      </button>
                      <div class="faq-answer hidden mt-2 transition-all duration-1000 ease-in-out">
                        ${e.answer}
                      </div>
                  `

      faq.appendChild(div)

    }


    document.querySelectorAll(".faq-question").forEach(button => {
      button.addEventListener('click', () => {
        const ans = button.nextElementSibling;

        ans.classList.toggle('hidden');
      });
    })



    document.querySelector(".burger").addEventListener('click', () => {
      ham = document.querySelector('.ham')
      ham.classList.toggle('hidden')
    })


    document.querySelectorAll(".quick-tool").forEach(e => {
      e.addEventListener('click', (p) => {
        let text = p.target.innerText.trim();
        switch (text) {
          case "Images to Pdf":
            window.open(`http://127.0.0.1:5000/tools/Images%20to%20Pdf?img1=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Ffile-formats-part-1%2F1000%2FPNG-512.png&caption1=Images&img2=https%3A%2F%2Fst5.depositphotos.com%2F20980838%2F64706%2Fv%2F450%2Fdepositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg&caption2=Pdf&description=Quickly+merge+multiple+images+into+a+single+PDF+while+keeping+their+quality%0D%0A++++++++++and+layout+intact%E2%80%94ideal+for+sharing+or+archiving.`, '_blank')
          case "Pdf Compresser":
            window.open(`http://127.0.0.1:5000/tools/Pdf%20Compresser?img1=https%3A%2F%2Fst5.depositphotos.com%2F20980838%2F64706%2Fv%2F450%2Fdepositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg&caption1=Original+Pdf&img2=https%3A%2F%2Fst5.depositphotos.com%2F20980838%2F64706%2Fv%2F450%2Fdepositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg&caption2=Compressed+Pdf&description=Reduce+your+PDF+file+size+without+losing+quality%E2%80%94perfect+for+faster+uploads%2C%0D%0A++++++++++sharing%2C+and+saving+storage+space.`, '_blank')
          case "Pdf Splitter":
            window.open(`http://127.0.0.1:5000/tools/Pdf%20Splitter?img1=https%3A%2F%2Fst5.depositphotos.com%2F20980838%2F64706%2Fv%2F450%2Fdepositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg&caption1=Original+Pdf&img2=https%3A%2F%2Fst5.depositphotos.com%2F20980838%2F64706%2Fv%2F450%2Fdepositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg&caption2=Splitted+Pdf&description=Split+large+PDFs+into+smaller+files+or+extract+specific+pages+with+full%0D%0A++++++++++control+and+fast+processing.`, '_blank')
          case "Pdf Encryptor":
            window.open(`http://127.0.0.1:5000/tools/Pdf%20Encryptor?img1=https%3A%2F%2Fst5.depositphotos.com%2F20980838%2F64706%2Fv%2F450%2Fdepositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg&caption1=Original+Pdf&img2=https%3A%2F%2Fst2.depositphotos.com%2F42596756%2F44437%2Fv%2F600%2Fdepositphotos_444376980-stock-illustration-file-folders-vector-icon.jpg&caption2=Locked+Pdf&description=Add+strong+password+protection+to+your+PDFs+to+prevent+unauthorized+access%2C%0D%0A++++++++++copying%2C+or+editing.`, '_blank')
          case "Pdf to PNG":
            window.open(`http://127.0.0.1:5000/tools/Pdf%20to%20PNG?img1=https%3A%2F%2Fst5.depositphotos.com%2F20980838%2F64706%2Fv%2F450%2Fdepositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg&caption1=Original+Pdf&img2=https%3A%2F%2Fst2.depositphotos.com%2F47577860%2F46963%2Fv%2F600%2Fdepositphotos_469635890-stock-illustration-file-format-png-icon.jpg&caption2=PNGs&description=Turn+PDFs+into+crystal-clear+PNG+images%2C+ideal+for+designs%2C+transparency%2C+and%0D%0A++++++++++digital+use.`, '_blank')
          case "Pdf to JPG":
            window.open(`http://127.0.0.1:5000/tools/Pdf%20to%20JPG?img1=https%3A%2F%2Fst5.depositphotos.com%2F20980838%2F64706%2Fv%2F450%2Fdepositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg&caption1=Original+Pdf&img2=https%3A%2F%2Fst.depositphotos.com%2F57803962%2F56363%2Fv%2F600%2Fdepositphotos_563637420-stock-illustration-file-format-icon-vector-illustration.jpg&caption2=JPGs&description=Convert+PDF+pages+to+sharp%2C+high-resolution+JPG+images+suitable+for+sharing%2C%0D%0A++++++++++previews%2C+or+web+use.`, '_blank')
          case "Pdf to TIFF":
            window.open(`http://127.0.0.1:5000/tools/Pdf%20to%20TIFF?img1=https%3A%2F%2Fst5.depositphotos.com%2F20980838%2F64706%2Fv%2F450%2Fdepositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg&caption1=Original+Pdf&img2=https%3A%2F%2Fst4.depositphotos.com%2F1000507%2F23793%2Fv%2F600%2Fdepositphotos_237931072-stock-illustration-tagged-image-file-format.jpg&caption2=TIFFs&description=Generate+high-quality+TIFF+images+from+your+PDFs%2C+perfect+for+printing%2C%0D%0A++++++++++scanning%2C+or+archiving.`, '_blank')
          case "Pdf Merger":
            window.open(`http://127.0.0.1:5000/tools/Pdf%20Merger?img1=https%3A%2F%2Fst5.depositphotos.com%2F20980838%2F64706%2Fv%2F450%2Fdepositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg&caption1=Original+Pdf&img2=https%3A%2F%2Fst5.depositphotos.com%2F20980838%2F64706%2Fv%2F450%2Fdepositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg&caption2=Merged+Pdf&description=Easily+combine+multiple+PDF+files+into+a+single%2C+well-structured+document%0D%0A++++++++++while+preserving+layout+and+quality.`, '_blank')

        }
      })

    })

    document.querySelectorAll(".links li").forEach(e => {
      e.addEventListener('click', (event) => {
        address = event.target.innerText.toLowerCase();
        if (address === "home") {
          return
        } else {
          window.open(`/${address}`, '_blank')
        }
      })

    })

    document.querySelector(".tools-btn").addEventListener('click', () => {
      window.open('/tools', '_blank')
    })

    const slider = document.getElementById('slider')
    const kids = slider.children;
    let current = 0;

    setInterval(() => {
      current = (current + 1) % kids.length;
      let ScrollX = current * slider.clientWidth;
      slider.scrollTo({
        left: ScrollX,
        behavior: 'smooth'
      })
    }, 3000)
  </script>
</body>

</html>