<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PdfxFools - Tools for fools</title>
  <link href="{{url_for('static', filename='output.css')}}" rel="stylesheet">
</head>

<body>
  <nav class="h-12 w-full p-2 bg-orange-300 flex justify-between font-medium font-serif sticky top-0">
    <span class="text-2xl font-bold text-white">PdfxFools</span>
    <div class="space-x-2 w-auto flex items-center">
      <img class="relative burger cursor-pointer" src="{{url_for('static', filename='icons/HAm.svg')}}">
      <div
        class="ham w-44 h-[95vh] p-3 bg-amber-50 outline-1 z-10 absolute right-0 top-12 text-black hidden transition-all duration-1000 ease-in-out flex flex-col space-y-4">
        <div>
          <span class="text-center underline text-[16px] font-bold">Popular Tools</span>
          <ul class="text-black text-[14px] font-normal text-start">
            <li class="quick-tool cursor-pointer hover:underline flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path fill="#eb202a"
                  d="M200 288H88c-21.4 0-32.1 25.8-17 41l32.9 31l-99.2 99.3c-6.2 6.2-6.2 16.4 0 22.6l25.4 25.4c6.2 6.2 16.4 6.2 22.6 0L152 408l31.1 33c15.1 15.1 40.9 4.4 40.9-17V312c0-13.3-10.7-24-24-24m112-64h112c21.4 0 32.1-25.9 17-41l-33-31l99.3-99.3c6.2-6.2 6.2-16.4 0-22.6L481.9 4.7c-6.2-6.2-16.4-6.2-22.6 0L360 104l-31.1-33C313.8 55.9 288 66.6 288 88v112c0 13.3 10.7 24 24 24m96 136l33-31.1c15.1-15.1 4.4-40.9-17-40.9H312c-13.3 0-24 10.7-24 24v112c0 21.4 25.9 32.1 41 17l31-32.9l99.3 99.3c6.2 6.2 16.4 6.2 22.6 0l25.4-25.4c6.2-6.2 6.2-16.4 0-22.6zM183 71.1L152 104L52.7 4.7c-6.2-6.2-16.4-6.2-22.6 0L4.7 30.1c-6.2 6.2-6.2 16.4 0 22.6L104 152l-33 31.1C55.9 198.2 66.6 224 88 224h112c13.3 0 24-10.7 24-24V88c0-21.3-25.9-32-41-16.9" />
              </svg>
              <span>Pdf Compresser</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"> <svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                <defs>
                  <mask id="ipSFileLock0">
                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                      <path fill="#fff" stroke="#fff"
                        d="M10 44h28a2 2 0 0 0 2-2V14H30V4H10a2 2 0 0 0-2 2v36a2 2 0 0 0 2 2" />
                      <path stroke="#fff" d="m30 4l10 10" />
                      <path fill="#000" stroke="#000" d="M17 27h14v8H17z" />
                      <path stroke="#000" d="M28 27v-4c0-1.657-1-4-4-4s-4 2.343-4 4v4" />
                    </g>
                  </mask>
                </defs>
                <path fill="#36a4d6" d="M0 0h48v48H0z" mask="url(#ipSFileLock0)" />
              </svg><span>Pdf Encryptor</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                <g fill="none" stroke="#40f476" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                  <rect width="38" height="38" x="5" y="5" rx="3" />
                  <path d="M19 19c2 3 2 7 0 10m17-15L21 24l15 10" />
                  <circle cx="16" cy="16" r="4" />
                  <circle cx="16" cy="32" r="4" />
                </g>
              </svg>
              <span>Pdf Splitter</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                <path fill="#fa8f24"
                  d="M27.425 6.09h-1.52V4.57h-1.52V3.04h-1.53V1.52h-1.52V0H3.045v32h25.91V7.62h-1.53Zm0 24.38H4.575V1.52h15.23v7.62h7.62Z" />
                <path fill="#fa8f24"
                  d="M19.805 19.81v-1.53h-1.52v1.53h-9.14v-1.53h-1.53V7.62h-1.52v16.76h1.52v-3.05h16.77v3.05h1.52V10.66h-1.52v7.62h-1.53v1.53z" />
                <path fill="#fa8f24"
                  d="M7.615 24.38h16.77v1.52H7.615Zm13.72-7.62h1.52v1.52h-1.52Zm-3.05-1.52h3.05v1.52h-3.05Zm-1.52 1.52h1.52v1.52h-1.52Zm-1.53-1.52h1.53v1.52h-1.53Zm-3.04-1.53h3.04v1.53h-3.04Zm-1.53 1.53h1.53v1.52h-1.53Zm-1.52 1.52h1.52v1.52h-1.52Zm0-7.62h3.05v3.05h-3.05Zm-1.53-3.05h9.15v1.53h-9.15Z" />
              </svg><span>Images to Pdf</span></li>
          </ul>
        </div>

        <div>
          <span class="text-center underline text-[16px] font-bold">Image operations</span>
          <ul class="text-black text-[14px] font-normal text-start">
            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 32 32">
                <path fill="#fa8f24"
                  d="M27.425 6.09h-1.52V4.57h-1.52V3.04h-1.53V1.52h-1.52V0H3.045v32h25.91V7.62h-1.53Zm0 24.38H4.575V1.52h15.23v7.62h7.62Z" />
                <path fill="#fa8f24"
                  d="M19.805 19.81v-1.53h-1.52v1.53h-9.14v-1.53h-1.53V7.62h-1.52v16.76h1.52v-3.05h16.77v3.05h1.52V10.66h-1.52v7.62h-1.53v1.53z" />
                <path fill="#fa8f24"
                  d="M7.615 24.38h16.77v1.52H7.615Zm13.72-7.62h1.52v1.52h-1.52Zm-3.05-1.52h3.05v1.52h-3.05Zm-1.52 1.52h1.52v1.52h-1.52Zm-1.53-1.52h1.53v1.52h-1.53Zm-3.04-1.53h3.04v1.53h-3.04Zm-1.53 1.53h1.53v1.52h-1.53Zm-1.52 1.52h1.52v1.52h-1.52Zm0-7.62h3.05v3.05h-3.05Zm-1.53-3.05h9.15v1.53h-9.15Z" />
              </svg>
              <span>Images to Pdf</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 26 26">
                <path fill="#fa8f24"
                  d="M1 0C.449 0 0 .449 0 1v16c0 .551.449 1 1 1h16c.551 0 1-.449 1-1V1c0-.551-.449-1-1-1zm1 2h14v12H2zm17 .906v2.031l1.813.313L19 15.75V17c0 1.104-.897 2-2 2H6.406l12.688 2.188a1 1 0 0 0 1.156-.813l2.688-15.781a1 1 0 0 0-.813-1.157zM9 3.937c-1.151 0-2.125.792-2.125 2.282c0 .974.434 1.952 1.031 2.562c.234.61-.164.842-.25.875c-1.206.436-2.625 1.245-2.625 2.031v1.282h7.938v-1.281c0-.81-1.422-1.614-2.688-2.032c-.058-.019-.417-.18-.187-.875c.595-.61 1.062-1.593 1.062-2.562c0-1.49-1.005-2.282-2.156-2.282m14.406 3.97l-.343 1.968l.718.156l-2.75 11.688l-.406-.094a1.95 1.95 0 0 1-1.719.531L5.063 19.781L4.78 20.97a1.023 1.023 0 0 0 .75 1.218l15.563 3.657a1.023 1.023 0 0 0 1.218-.75L25.938 9.53c.127-.536-.18-1.091-.718-1.219l-1.813-.406z" />
              </svg>
              <span>Pdf to PNG</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 26 26">
                <path fill="#fa8f24"
                  d="M1 0C.449 0 0 .449 0 1v16c0 .551.449 1 1 1h16c.551 0 1-.449 1-1V1c0-.551-.449-1-1-1zm1 2h14v12H2zm17 .906v2.031l1.813.313L19 15.75V17c0 1.104-.897 2-2 2H6.406l12.688 2.188a1 1 0 0 0 1.156-.813l2.688-15.781a1 1 0 0 0-.813-1.157zM9 3.937c-1.151 0-2.125.792-2.125 2.282c0 .974.434 1.952 1.031 2.562c.234.61-.164.842-.25.875c-1.206.436-2.625 1.245-2.625 2.031v1.282h7.938v-1.281c0-.81-1.422-1.614-2.688-2.032c-.058-.019-.417-.18-.187-.875c.595-.61 1.062-1.593 1.062-2.562c0-1.49-1.005-2.282-2.156-2.282m14.406 3.97l-.343 1.968l.718.156l-2.75 11.688l-.406-.094a1.95 1.95 0 0 1-1.719.531L5.063 19.781L4.78 20.97a1.023 1.023 0 0 0 .75 1.218l15.563 3.657a1.023 1.023 0 0 0 1.218-.75L25.938 9.53c.127-.536-.18-1.091-.718-1.219l-1.813-.406z" />
              </svg>
              <span>Pdf to JPG</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 26 26">
                <path fill="#fa8f24"
                  d="M1 0C.449 0 0 .449 0 1v16c0 .551.449 1 1 1h16c.551 0 1-.449 1-1V1c0-.551-.449-1-1-1zm1 2h14v12H2zm17 .906v2.031l1.813.313L19 15.75V17c0 1.104-.897 2-2 2H6.406l12.688 2.188a1 1 0 0 0 1.156-.813l2.688-15.781a1 1 0 0 0-.813-1.157zM9 3.937c-1.151 0-2.125.792-2.125 2.282c0 .974.434 1.952 1.031 2.562c.234.61-.164.842-.25.875c-1.206.436-2.625 1.245-2.625 2.031v1.282h7.938v-1.281c0-.81-1.422-1.614-2.688-2.032c-.058-.019-.417-.18-.187-.875c.595-.61 1.062-1.593 1.062-2.562c0-1.49-1.005-2.282-2.156-2.282m14.406 3.97l-.343 1.968l.718.156l-2.75 11.688l-.406-.094a1.95 1.95 0 0 1-1.719.531L5.063 19.781L4.78 20.97a1.023 1.023 0 0 0 .75 1.218l15.563 3.657a1.023 1.023 0 0 0 1.218-.75L25.938 9.53c.127-.536-.18-1.091-.718-1.219l-1.813-.406z" />
              </svg>
              <span>Pdf to TIFF</span>
            </li>
          </ul>
        </div>

        <div>
          <span class="text-center underline text-[16px] font-bold">Pdf Organizer</span>
          <ul class="text-black text-[14px] font-normal text-start">
            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="#40f476"
                  d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m0 14H8V4h12zm-7-1h2v-4h4V9h-4V5h-2v4H9v2h4z" />
              </svg>
              <span>Pdf Merger</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                <g fill="none" stroke="#40f476" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                  <rect width="38" height="38" x="5" y="5" rx="3" />
                  <path d="M19 19c2 3 2 7 0 10m17-15L21 24l15 10" />
                  <circle cx="16" cy="16" r="4" />
                  <circle cx="16" cy="32" r="4" />
                </g>
              </svg>
              <span>Pdf Splitter</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="27px" height="27px" viewBox="0 0 20 20">
                <path fill="#40f476" d="M13 0a2 2 0 0 1 2 2H6a2 2 0 0 0-2 2v12a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                <path fill="#40f476"
                  d="M7 20a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2zm6.5-3.5l.41-1.09L15 15l-1.09-.41l-.41-1.09l-.41 1.09L12 15l1.09.41zm-2.982-.949l.952-2.561l2.53-.964l-2.53-.964l-.952-2.562l-.952 2.562l-2.53.964l2.53.964zM14 10.5l.547-1.453L16 8.5l-1.453-.547L14 6.5l-.547 1.453L12 8.5l1.453.547z" />
              </svg>
              <span>Pdf Reorderer</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24">
                <path fill="#40f476"
                  d="M12 3a9 9 0 0 1 9 9a9 9 0 0 1-4.873 8.001L18 20a1 1 0 0 1 .117 1.993L18 22h-4a1 1 0 0 1-.993-.883L13 21v-4a1 1 0 0 1 1.993-.117L15 17l.001 1.327A7.01 7.01 0 0 0 19 12a7 7 0 1 0-14 0a1 1 0 1 1-2 0a9 9 0 0 1 9-9m0 6a3 3 0 1 1 0 6a3 3 0 0 1 0-6m0 2a1 1 0 1 0 0 2a1 1 0 0 0 0-2" />
              </svg>
              <span>Pdf Rotator<span>
            </li>
          </ul>
        </div>


        <div>
          <span class="text-center underline text-[16px] font-bold">Pdf Optimization</span>
          <ul class="text-black text-[14px] font-normal text-start">
            <li class="quick-tool cursor-pointer hover:underline flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path fill="#eb202a"
                  d="M200 288H88c-21.4 0-32.1 25.8-17 41l32.9 31l-99.2 99.3c-6.2 6.2-6.2 16.4 0 22.6l25.4 25.4c6.2 6.2 16.4 6.2 22.6 0L152 408l31.1 33c15.1 15.1 40.9 4.4 40.9-17V312c0-13.3-10.7-24-24-24m112-64h112c21.4 0 32.1-25.9 17-41l-33-31l99.3-99.3c6.2-6.2 6.2-16.4 0-22.6L481.9 4.7c-6.2-6.2-16.4-6.2-22.6 0L360 104l-31.1-33C313.8 55.9 288 66.6 288 88v112c0 13.3 10.7 24 24 24m96 136l33-31.1c15.1-15.1 4.4-40.9-17-40.9H312c-13.3 0-24 10.7-24 24v112c0 21.4 25.9 32.1 41 17l31-32.9l99.3 99.3c6.2 6.2 16.4 6.2 22.6 0l25.4-25.4c6.2-6.2 6.2-16.4 0-22.6zM183 71.1L152 104L52.7 4.7c-6.2-6.2-16.4-6.2-22.6 0L4.7 30.1c-6.2 6.2-6.2 16.4 0 22.6L104 152l-33 31.1C55.9 198.2 66.6 224 88 224h112c13.3 0 24-10.7 24-24V88c0-21.3-25.9-32-41-16.9" />
              </svg>
              <span>Pdf Compresser</span>
            </li>
          </ul>
        </div>

        <div>
          <span class="text-center underline text-[16px] font-bold">Pdf Security</span>
          <ul class="text-black text-[14px] font-normal text-start">
            <li class="quick-tool cursor-pointer hover:underline flex items-center"> <svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                <defs>
                  <mask id="ipSFileLock0">
                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                      <path fill="#fff" stroke="#fff"
                        d="M10 44h28a2 2 0 0 0 2-2V14H30V4H10a2 2 0 0 0-2 2v36a2 2 0 0 0 2 2" />
                      <path stroke="#fff" d="m30 4l10 10" />
                      <path fill="#000" stroke="#000" d="M17 27h14v8H17z" />
                      <path stroke="#000" d="M28 27v-4c0-1.657-1-4-4-4s-4 2.343-4 4v4" />
                    </g>
                  </mask>
                </defs>
                <path fill="#36a4d6" d="M0 0h48v48H0z" mask="url(#ipSFileLock0)" />
              </svg>
              <span>Pdf Encryptor</span>
            </li>

            <li class="quick-tool cursor-pointer hover:underline flex items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 16 16">
                <g fill="#36a4d6">
                  <path
                    d="M7 7a1 1 0 0 1 2 0v1H7zM6 9.3c0-.042.02-.107.105-.175A.64.64 0 0 1 6.5 9h3a.64.64 0 0 1 .395.125c.085.068.105.133.105.175v2.4c0 .042-.02.107-.105.175A.64.64 0 0 1 9.5 12h-3a.64.64 0 0 1-.395-.125C6.02 11.807 6 11.742 6 11.7z" />
                  <path
                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M10 7v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V9.3c0-.627.46-1.058 1-1.224V7a2 2 0 1 1 4 0" />
                </g>
              </svg>
              <span>Pdf Decryptor</span>
            </li>
          </ul>
        </div>

        <div>
          <span class="text-center underline text-[16px] font-bold">Others</span>
          <ul class="text-black text-[14px] font-normal text-start">
            <li class="quick-tool cursor-pointer hover:underline flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 16 16">
                <path fill="#e739b0" fill-rule="evenodd"
                  d="M3.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .743.437L8 12.572l4.257 2.365A.5.5 0 0 0 13 14.5v-13a.5.5 0 0 0-.5-.5zM5 4h6V3H5z"
                  clip-rule="evenodd" />
              </svg>
              <span>Pdf Watermarker</span>
            </li>

            <ul class="text-black text-[14px] font-normal text-start">
              <li class="quick-tool cursor-pointer hover:underline flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 256 256">
                  <path fill="#e739b0"
                    d="m216.49 79.52l-56-56A12 12 0 0 0 152 20H56a20 20 0 0 0-20 20v176a20 20 0 0 0 20 20h144a20 20 0 0 0 20-20V88a12 12 0 0 0-3.51-8.48M160 57l23 23h-23ZM60 212V44h76v48a12 12 0 0 0 12 12h48v108Zm112-80a12 12 0 0 1-12 12H96a12 12 0 0 1 0-24h64a12 12 0 0 1 12 12m0 40a12 12 0 0 1-12 12H96a12 12 0 0 1 0-24h64a12 12 0 0 1 12 12" />
                </svg>
                <span>Text Extractor</span>
              </li>
            </ul>
        </div>
        <div class="mb-2.5 absolute bottom-3.5">
          <div class="text-lg font-bold underline">PdfxFools</div>
          <p class="text-[12px]">Your one stop guide to all reliable Pdf tools</p>
          <ul class="links flex gap-1.5">
            <li class="text-[12px] hover:text-orange-400 active:text-red-500 cursor-pointer">Home</li>
            <li class="text-[12px] hover:text-orange-400 active:text-red-500 cursor-pointer">Tools</li>
            <li class="text-[12px] hover:text-orange-400 active:text-red-500 cursor-pointer">Contact</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="main container p-2 min-h-dvh bg-amber-50 flex flex-col justify-center items-center gap-5">
    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center">
          <img class="w-full h-full" src="https://cdn3.iconfinder.com/data/icons/file-formats-part-1/1000/PNG-512.png">
          <figcaption>Images</figcaption>
        </figure>

        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center">
          <img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Images to Pdf</button>
        <p class="text-[14px] md:text-lg">Quickly merge multiple images into a single PDF while keeping their quality
          and layout intact—ideal for sharing or archiving.</p>
      </div>
      <form method="GET" class="formsubmit Images-to-Pdf" action="">
        <input type="hidden" name="img1"
          value="https://cdn3.iconfinder.com/data/icons/file-formats-part-1/1000/PNG-512.png">
        <input type="hidden" name="caption1" value="Images">

        <input type="hidden" name="img2"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption2" value="Pdf">

        <input type="hidden" name="description" value="Quickly merge multiple images into a single PDF while keeping their quality
          and layout intact—ideal for sharing or archiving.">

      </form>
    </div>
    
    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center">
          <img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Original Pdf</figcaption>
        </figure>

        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center">
          <img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Merged Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Pdf Merger</button>
        <p class="text-[14px] md:text-lg">Easily combine multiple PDF files into a single, well-structured document
          while preserving layout and quality.</p>
      </div>
      <form method="GET" class="formsubmit Pdf-Merger" action="">
        <input type="hidden" name="img1"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption1" value="Original Pdf">

        <input type="hidden" name="img2"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption2" value="Merged Pdf">

        <input type="hidden" name="description" value="Easily combine multiple PDF files into a single, well-structured document
          while preserving layout and quality.">

      </form>
    </div>

    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center">
          <img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Original Pdf</figcaption>
        </figure>

        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center">
          <img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Splitted Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Pdf Splitter</button>
        <p class="text-[14px] md:text-lg">Split large PDFs into smaller files or extract specific pages with full
          control and fast processing.</p>
      </div>
      <form method="GET" class="formsubmit Pdf-Splitter" action="">
        <input type="hidden" name="img1"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption1" value="Original Pdf">

        <input type="hidden" name="img2"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption2" value="Splitted Pdf">

        <input type="hidden" name="description" value="Split large PDFs into smaller files or extract specific pages with full
          control and fast processing.">

      </form>
    </div>

    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Original Pdf</figcaption>
        </figure>
        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center flex flex-col items-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption class="w-32">Compressed Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Pdf Compresser</button>
        <p class="text-[14px] md:text-lg">Reduce your PDF file size without losing quality—perfect for faster uploads,
          sharing, and saving storage space.</p>
      </div>
      <form method="GET" class="formsubmit Pdf-Compresser" action="">
        <input type="hidden" name="img1"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption1" value="Original Pdf">

        <input type="hidden" name="img2"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption2" value="Compressed Pdf">

        <input type="hidden" name="description" value="Reduce your PDF file size without losing quality—perfect for faster uploads,
          sharing, and saving storage space.">

      </form>
    </div>

    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Original Pdf</figcaption>
        </figure>
        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st2.depositphotos.com/47577860/46963/v/600/depositphotos_469635890-stock-illustration-file-format-png-icon.jpg">
          <figcaption>PNGs</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Pdf to PNG</button>
        <p class="text-[14px] md:text-lg">Turn PDFs into crystal-clear PNG images, ideal for designs, transparency, and
          digital use.</p>
      </div>
      <form method="GET" class="formsubmit Pdf-to-PNG" action="">
        <input type="hidden" name="img1"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption1" value="Original Pdf">

        <input type="hidden" name="img2"
          value="https://st2.depositphotos.com/47577860/46963/v/600/depositphotos_469635890-stock-illustration-file-format-png-icon.jpg">
        <input type="hidden" name="caption2" value="PNGs">

        <input type="hidden" name="description" value="Turn PDFs into crystal-clear PNG images, ideal for designs, transparency, and
          digital use.">

      </form>

    </div>

    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Original Pdf</figcaption>
        </figure>
        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st.depositphotos.com/57803962/56363/v/600/depositphotos_563637420-stock-illustration-file-format-icon-vector-illustration.jpg">
          <figcaption>JPGs</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Pdf to JPG</button>
        <p class="text-[14px] md:text-lg">Convert PDF pages to sharp, high-resolution JPG images suitable for sharing,
          previews, or web use.</p>
      </div>
      <form method="GET" class="formsubmit Pdf-to-JPG" action="">
        <input type="hidden" name="img1"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption1" value="Original Pdf">

        <input type="hidden" name="img2"
          value="https://st.depositphotos.com/57803962/56363/v/600/depositphotos_563637420-stock-illustration-file-format-icon-vector-illustration.jpg">
        <input type="hidden" name="caption2" value="JPGs">

        <input type="hidden" name="description" value="Convert PDF pages to sharp, high-resolution JPG images suitable for sharing,
          previews, or web use.">

      </form>
    </div>

    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Original Pdf</figcaption>
        </figure>
        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st4.depositphotos.com/1000507/23793/v/600/depositphotos_237931072-stock-illustration-tagged-image-file-format.jpg">
          <figcaption>TIFFs</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Pdf to TIFF</button>
        <p class="text-[14px] md:text-lg">Generate high-quality TIFF images from your PDFs, perfect for printing,
          scanning, or archiving.</p>
      </div>
      <form method="GET" class="formsubmit Pdf-to-TIFF" action="">
        <input type="hidden" name="img1"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption1" value="Original Pdf">

        <input type="hidden" name="img2"
          value="https://st4.depositphotos.com/1000507/23793/v/600/depositphotos_237931072-stock-illustration-tagged-image-file-format.jpg">
        <input type="hidden" name="caption2" value="TIFFs">

        <input type="hidden" name="description" value="Generate high-quality TIFF images from your PDFs, perfect for printing,
          scanning, or archiving.">

      </form>
    </div>

    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Original Pdf</figcaption>
        </figure>
        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st2.depositphotos.com/42596756/44437/v/600/depositphotos_444376980-stock-illustration-file-folders-vector-icon.jpg">
          <figcaption>Locked Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Pdf Encryptor</button>
        <p class="text-[14px] md:text-lg">Add strong password protection to your PDFs to prevent unauthorized access,
          copying, or editing.
        <p>
      </div>
      <form method="GET" class="formsubmit Pdf-Encryptor" action="">
        <input type="hidden" name="img1"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption1" value="Original Pdf">

        <input type="hidden" name="img2"
          value="https://st2.depositphotos.com/42596756/44437/v/600/depositphotos_444376980-stock-illustration-file-folders-vector-icon.jpg">
        <input type="hidden" name="caption2" value="Locked Pdf">

        <input type="hidden" name="description" value="Add strong password protection to your PDFs to prevent unauthorized access,
          copying, or editing.">

      </form>
    </div>

    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st2.depositphotos.com/42596756/44437/v/600/depositphotos_444376980-stock-illustration-file-folders-vector-icon.jpg">
          <figcaption>Locked Pdf</figcaption>
        </figure>
        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Unlocked Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Pdf Decryptor</button>
        <p class="text-[14px] md:text-lg">Remove passwords and restrictions to enjoy hassle-free access and editing. Say
          goodbye to locked content — your files, your control.
        <p>
      </div>
      <form method="GET" class="formsubmit Pdf-Decryptor" action="">
        <input type="hidden" name="img1"
          value="https://st2.depositphotos.com/42596756/44437/v/600/depositphotos_444376980-stock-illustration-file-folders-vector-icon.jpg">
        <input type="hidden" name="caption1" value="Locked Pdf">

        <input type="hidden" name="img2"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption2" value="Unlocked Pdf">

        <input type="hidden" name="description"
          value="Remove passwords and restrictions to enjoy hassle-free access and editing. Say goodbye to locked content — your files, your control.">

      </form>
    </div>

    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 p-2 object-contain text-center"><img class="w-full h-full"
            src="https://images.openai.com/thumbnails/url/fSAyMHicu1mSUVJSUGylr5-al1xUWVCSmqJbkpRnoJdeXJJYkpmsl5yfq5-Zm5ieWmxfaAuUsXL0S7F0Tw4KCM_LKo93NDH0zcjKc8-PtDAqN3ezTHJLLSz0TvV38630SM81c_d2NDfJ0_W2DAhwscwv9g8qdtTNDVQrBgAKHSj5">
          <figcaption>Input Pdf</figcaption>
        </figure>
        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Rotated Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Pdf Rotator</button>
        <p class="text-[14px] md:text-lg">Effortlessly rotate selected or all pages to the correct orientation for
          better readability and presentation.
        <p>
      </div>
      <form method="GET" class="formsubmit Pdf-Rotator" action="">
        <input type="hidden" name="img1"
          value="https://images.openai.com/thumbnails/url/fSAyMHicu1mSUVJSUGylr5-al1xUWVCSmqJbkpRnoJdeXJJYkpmsl5yfq5-Zm5ieWmxfaAuUsXL0S7F0Tw4KCM_LKo93NDH0zcjKc8-PtDAqN3ezTHJLLSz0TvV38630SM81c_d2NDfJ0_W2DAhwscwv9g8qdtTNDVQrBgAKHSj5">
        <input type="hidden" name="caption1" value="Input Pdf">

        <input type="hidden" name="img2"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption2" value="Rotated Pdf">

        <input type="hidden" name="description"
          value="Sick of your pdf pages rotated unusually use the rotate tool to fix the alignment within seconds">

      </form>
    </div>

    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Input Pdf</figcaption>
        </figure>
        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st2.depositphotos.com/1431107/11791/v/600/depositphotos_117915872-stock-illustration-text-file-icon.jpg">
          <figcaption>Text File</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Text Extractor</button>
        <p class="text-[14px] md:text-lg">Extract clean, editable text from any PDF with ease. Perfect for copying,
          searching, or repurposing content without the formatting mess.
        <p>
      </div>
      <form method="GET" class="formsubmit Text-Extractor" action="">
        <input type="hidden" name="img1"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption1" value="Input Pdf">

        <input type="hidden" name="img2"
          value="https://st2.depositphotos.com/1431107/11791/v/600/depositphotos_117915872-stock-illustration-text-file-icon.jpg">
        <input type="hidden" name="caption2" value="Text File">

        <input type="hidden" name="description"
          value="Extract clean, editable text from any PDF with ease. Perfect for copying, searching, or repurposing content without the formatting mess.">

      </form>
    </div>

    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Input Pdf</figcaption>
        </figure>
        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center flex flex-col items-center"><img class="w-full h-full"
            src="https://cdn.iconscout.com/icon/premium/png-512-thumb/stamp-approved-icon-download-in-svg-png-gif-file-formats--mark-seal-verified-accept-confirm-approve-document-pack-files-folders-icons-12490322.png?f=webp&w=512">
          <figcaption class="w-32">Watermarked Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Pdf
          Watermarker</button>
        <p class="text-[14px] md:text-lg">Add custom text or image watermarks to your PDF files and safeguard your
          documents with style and clarity.
        <p>
      </div>
      <form method="GET" class="formsubmit Pdf-Watermarker" action="">
        <input type="hidden" name="img1"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption1" value="Input Pdf">

        <input type="hidden" name="img2"
          value="https://cdn.iconscout.com/icon/premium/png-512-thumb/stamp-approved-icon-download-in-svg-png-gif-file-formats--mark-seal-verified-accept-confirm-approve-document-pack-files-folders-icons-12490322.png?f=webp&w=512">
        <input type="hidden" name="caption2" value="Watermarkerd Pdf">

        <input type="hidden" name="description"
          value="Add custom text or image watermarks to your PDF files and safeguard your documents with style and clarity.">

      </form>
    </div>

    <div class="tool-card w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl justify-between text-center">
      <div class="w-full h-1/3 flex mb-2 items-center justify-center gap-5">
        <figure class="w-23 object-contain text-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Input Pdf</figcaption>
        </figure>
        <img width="30" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="w-23 object-contain text-center flex flex-col items-center"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption class="w-32">Reordered Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">Pdf Reorderer</button>
        <p class="text-[14px] md:text-lg">Drag and drop to rearrange pages and create the perfect flow. Your document,
          your rules — in just seconds.
        <p>
      </div>
      <form method="GET" class="formsubmit Pdf-Reorderer" action="">
        <input type="hidden" name="img1"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption1" value="Input Pdf">

        <input type="hidden" name="img2"
          value="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
        <input type="hidden" name="caption2" value="Reordered Pdf">

        <input type="hidden" name="description"
          value="Drag and drop to rearrange pages and create the perfect flow. Your document, your rules — in just seconds.">

      </form>
    </div>

    <div class="foot w-[99vw] p-2 h-auto bg-orange-200 space-y-2">
      <div>
        <span class="text-black text-lg font-bold underline">Consumer Policy</span>
        <div clas="consumer flex flex-col">
          <p class="text-black text-[12px] font-medium cursor-pointer hover:underline"><a>Terms & Conditions</a></p>
          <p class="text-black text-[12px] font-medium cursor-pointer hover:underline"><a>Privacy Policy</a></p>
          <p class="text-black text-[12px] font-medium cursor-pointer hover:underline"><a>Contact</a></p>
        </div>
      </div>
      <hr>
      <div>
        <span class="text-black text-lg font-bold underline">Socials</span>
        <div class="socials w-auto h-auto flex gap-2 ">
          <img class=" cursor-pointer" src="{{url_for('static', filename='icons/facebook.svg')}}">
          <img class=" cursor-pointer" src="{{url_for('static', filename='icons/instagram.svg')}}">
          <img class=" cursor-pointer" src="{{url_for('static', filename='icons/linkedin.svg')}}">
        </div>
      </div>
      <hr>
      <span class="text-[14px]">@PdfxFools 2025 All Rights Reserved</span>
    </div>
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

    <script>

      // const faqs = [
      //   {
      //     question: "Is PDFxFools really free to use?",
      //     answer: "Absolutely! No hidden fees, no signups, no gotchas. Just click, upload, and go. Foolishly simple."
      //   },
      //   {
      //     question: "Will my files be safe here?",
      //     answer: "Yes! We don’t snoop. Your files are encrypted, processed securely, and automatically deleted shortly after you're done."
      //   },
      //   {
      //     question: "Why should I trust a site called 'PDFxFools'?",
      //     answer: "Because we may be fools—but only for making awesome PDF tools free and easy to use. We take your PDFs seriously, even if our name says otherwise."
      //   },
      //   {
      //     question: "Are there any limits on file size or number of files?",
      //     answer: "We support most everyday files just fine. For huge files, your browser might tap out before we do. Try it and see—we dare you."
      //   },
      //   {
      //     question: "Do I need to install anything?",
      //     answer: "Nope. PDFxFools is fully cloud-based. No installs, no extensions—just magic in your browser."
      //   },
      //   {
      //     question: "Will there be watermarks on my files?",
      //     answer: "Never. We hate those too. Your output is clean, pro-grade, and totally yours."
      //   }
      // ];



      //Faq Questions 
      // document.querySelectorAll(".faq-question").forEach(button => {
      //   button.addEventListener('click', () => {
      //     const ans = button.nextElementSibling;

      //     ans.classList.toggle('hidden');
      //   });
      // })


      document.querySelectorAll(".tools").forEach(e => {
        e.addEventListener('click', (p) => {
          let text = p.target.innerText.trim();

          let card = e.closest(".tool-card")
          let form = card.querySelector(".formsubmit")
          form.action = `/tools/${encodeURIComponent(text)}` // or e.innerText

          form.target = "_blank";
          form.submit();
          // window.open(`/tools/${encodeURIComponent(text)}`, '_blank')

        })
      })



      document.querySelector(".burger").addEventListener('click', () => {
        ham = document.querySelector('.ham')
        ham.classList.toggle('hidden')
      })

      // document.getElementById('feature').addEventListener('click', function () {
      //   document.getElementById("about").scrollIntoView({ behavior: "smooth" });
      // })

      document.querySelectorAll(".quick-tool").forEach(e => {
        e.addEventListener('click', (p) => {
          let text = p.target.innerText.trim();
          let form = document.querySelector(`.${text.replace(/\s+/g, "-")}`);
          form.action = `/tools/${encodeURIComponent(text)}` // or e.innerText

          form.target = "_blank";
          form.submit();

          // window.open(`/tools/${encodeURIComponent(text)}`, '_blank')
        })

      })

      document.querySelectorAll(".links li").forEach(e => {
        e.addEventListener('click', (event) => {
          address = event.target.innerText.toLowerCase();
          if (address === "tools") {
            return
          } else {
            window.open(`/${address}`, '_blank')
          }
        })

      })

    </script>
</body>

</html>