<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{url_for('static', filename='output.css')}}" rel="stylesheet">
</head>

<body>
  <nav class="h-12 w-full p-2 bg-blue-500 flex justify-between font-medium font-serif">
    <span class="text-2xl">PdfxFools</span>
    <div class="space-x-2">
      <span class="text-2xl cursor hover:underline">Home</span>
      <span class="text-2xl cursor hover:underline">Tools</span>
    </div>
  </nav>

  <div class="container p-2 min-h-dvh bg-amber-100 flex flex-col justify-center items-center gap-5">
    <div class="w-1/3 h-2/3 p-7 border-2 space-y-8 text-center">
      <div class="w-full h-1/3 flex items-center justify-center gap-5">
        <figure class="h-23 object-contain">
          <img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Original Pdf</figcaption>
        </figure>

        <img src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="h-23 object-contain">
          <img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Merged Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-blue-500 text-white cursor-pointer">Pdf Merger</button>
        <p class="text-lg underline">Merge your Pdfs easily with the merge tool</p>
      </div>
    </div>

    <div class="w-1/3 h-2/3 p-7 border-2 space-y-8 text-center">
      <div class="w-full h-1/3 flex items-center justify-center gap-5">
        <figure class="h-23 object-contain">
          <img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Original Pdf</figcaption>
        </figure>

        <img src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="h-23 object-contain">
          <img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Splitted Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-blue-500 text-white cursor-pointer">Pdf Merger</button>
        <p class="text-lg underline">Split your Pdfs easily with the split tool</p>
      </div>
    </div>

    <div class="w-1/3 h-2/3 p-7 border-2 space-y-8 text-center">
      <div class="w-full h-1/3 flex items-center justify-center gap-5">
        <figure class="h-23 object-contain"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Original Pdf</figcaption>
        </figure>
        <img src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="h-24 w-24 object-contain"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Compressed Pdf</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-blue-500 text-white cursor-pointer">Pdf Compresser</button>
        <p class="text-lg underline">Compress your Pdfs easily with the compress tool</p>
      </div>
    </div>

    <div class="w-1/3 h-2/3 p-7 border-2 space-y-8 text-center">
      <div class="w-full h-1/3 flex items-center justify-center gap-5">
        <figure class="h-23 object-contain"><img class="w-full h-full"
            src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
          <figcaption>Original Pdf</figcaption>
        </figure>
        <img src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
        <figure class="h-23  object-contain"><img class="w-full h-full"
            src="https://st2.depositphotos.com/47577860/46963/v/600/depositphotos_469635890-stock-illustration-file-format-png-icon.jpg">
          <figcaption>PNGs</figcaption>
        </figure>
      </div>
      <div class="space-y-1">
        <button class="tools p-1.5 rounded-lg bg-blue-500 text-white cursor-pointer">Pdf to PNG</button>
        <p class="text-lg underline">Convert your Pdf into png images</p>
      </div>
    </div>


  </div>
<script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>