<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <link href="{{url_for('static', filename='output.css')}}" rel="stylesheet">
</head>

<body>
    <nav class="h-12 w-full p-2 bg-orange-300 flex justify-between font-medium font-serif">
        <span class="text-2xl font-bold text-white">PdfxFools</span>
        <div class="space-x-2">
            <img src="{{url_for('static', filename='icons/HAm.svg')}}">
        </div>
    </nav>

    <div class="container p-2 mt-3 min-h-screen bg-amber-50 flex justify-center">
       <div class="w-11/12 md:w-1/3 h-2/3 p-7 bg-white outline-1 rounded-2xl space-y-8 text-center">
            <div class="w-full h-1/2 flex items-center justify-center gap-5">
                <figure class="h-24 w-[100px] object-contain">
                    <img class="w-full h-full"
                        src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
                    <figcaption>Input Pdf</figcaption>
                </figure>

                <img width="30" class="relative" src="{{url_for('static', filename='icons/convert.svg')}}" alt="convert icon">
                <img width="30" class="blinker absolute ml-0.5 hidden" src="{{url_for('static', filename='icons/convert r.svg')}}"
                    alt="convert r icon">
                <img width="30" class="blinker2 absolute ml-0.5 hidden" src="{{url_for('static', filename='icons/convert g.svg')}}"
                    alt="convert g icon">

                <figure class="h-24 w-[100px] object-contain">
                    <img class="w-full h-full"
                        src="https://st5.depositphotos.com/20980838/64706/v/450/depositphotos_647060022-stock-illustration-pdf-icon-vector-illustration-flat.jpg">
                    <figcaption>{{operation}}</figcaption>

                </figure>
            </div>
            <form class="option" method="POST" action="/tools/{{name}}" enctype="multipart/form-data">
                <label for="file-upload" class="p-1 rounded-lg bg-orange-300 font-bold text-white cursor-pointer">
                    Upload File
                </label>
                <div class="flex flex-col items-center ">
                    <input id="file-upload" class="hidden" type="file" name="files[]" onchange=checkAndSubmitNormal()
                        multiple />
                    <progress id="upload-progress" value="0" max="100" class="w-1/3 mt-3"></progress>
                </div>
            </form>
            <div class=" w-full h-2/3 space-y-1">
                <p class="text-lg">Compress your Pdfs easily with the compress tool</p>
            </div>
        </div>
        <script src="{{url_for('static', filename='script.js')}}"></script>

</body>

</html>